.ant-message {
  font-size: 12px;
  position: fixed;
  z-index: 1010;
  width: 100%;
  top: 16px;
  left: 0;
}
.ant-message-notice {
  width: auto;
  vertical-align: middle;
  position: absolute;
  left: 50%;
}
.ant-message-notice-content {
  position: relative;
  right: 50%;
  padding: 8px 16px;
  border-radius: 6px;
  border: 1px solid #d9d9d9;
  box-shadow: 0 1px 8px rgba(100, 100, 100, 0.2);
  background: #fff;
  display: block;
}
.ant-message-success .anticon {
  color: #87d068;
}
.ant-message-error .anticon {
  color: #f50;
}
.ant-message-warning .anticon {
  color: #fa0;
}
.ant-message-info .anticon,
.ant-message-loading .anticon {
  color: #2db7f5;
}
.ant-message .anticon {
  margin-right: 8px;
  font-size: 14px;
  top: 1px;
  position: relative;
}
body {
  margin: 0;
  padding: 0;
}
button {
  font-size: 14px;
}
.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #fff;
  background: #428bca none;
  border: 1px solid #357ebd;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn:hover {
  color: #fff;
  background-color: #3071a9;
  border-color: #285e8e;
}
ul {
  list-style: none;
}
nav {
  background-color: black;
  height: 100px;
  margin-bottom: 30px;
}
nav ul {
  float: right;
  height: 64px;
  line-height: 64px;
}
nav li {
  float: left;
  margin-right: 40px;
}
nav a {
  color: #ffffff;
  text-decoration: none;
}
nav .logo {
  display: inline-block;
  float: left;
  height: 100px;
  line-height: 100px;
  font-size: 36px;
  margin-left: 50px;
}
nav .loginOrRegister {
  margin-right: 100px;
}
nav li a:hover {
  border-bottom: 1px solid #ffd201;
}
nav .registerBtn {
  width: 90px;
  height: 30px;
}
nav .loginBtn {
  height: 30px;
  width: 60px;
}
.feature {
  clear: left;
  margin: 0 20%;
}
.feature ul li {
  float: left;
  width: 40%;
  height: 80px;
  margin: 0 5%;
}
.priceDiv {
  margin: 0 20%;
  text-align: center;
}
.priceDiv .detail {
  float: left;
  width: 39%;
  border: 1px solid #ECECEC;
  margin: 0 5% 20px;
}
.priceDiv .detail .description,
.priceDiv .detail .price {
  border-bottom: 1px solid #ECECEC;
  padding-bottom: 16px;
  color: #555;
}
.priceDiv ul {
  list-style: disc;
  text-align: left;
  margin: 0 10px;
  width: 100%;
}
.priceDiv ul li {
  color: #555;
  font-size: 14px;
  line-height: 30px;
}
.priceDiv .price {
  font-size: 36px;
  padding-bottom: 36px;
}
.login div {
  width: 60%;
  margin: 10px 20%;
}
.login input {
  width: 100%;
  height: 30px;
}
.custom-select {
  margin-top: 0.5em;
}
.custom-select select {
  /* General select styles: change as needed */
  font-family: sans-serif;
  font-weight: 700;
  color: #444;
  line-height: 1.3;
  border-radius: .2em;
}
.custom-select::after {
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 7px solid #666;
  margin-top: -3px;
}
.custom-select {
  border: 1px solid #bbb;
}
/* Hover style */
.custom-select:hover {
  border-color: #888;
}
/* Focus style */
.custom-select select:focus {
  outline: none;
  box-shadow: 0 0 1px 3px #b4defa;
  color: #222;
  /* Match-02 */
}
/* Set options to normal weight */
.custom-select option {
  font-weight: normal;
}
.hidden {
  display: none;
}
@font-face {
  font-family: 'anticon';
  src: url('https://at.alicdn.com/t/font_1463992151_360388.eot');
  /* IE9*/
  src: url('https://at.alicdn.com/t/font_1463992151_360388.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('https://at.alicdn.com/t/font_1463992151_360388.woff') format('woff'), /* chrome、firefox */ url('https://at.alicdn.com/t/font_1463992151_360388.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_1463992151_360388.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.anticon {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  text-rendering: auto;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.anticon:before {
  display: block;
  font-family: "anticon" !important;
  box-sizing: border-box;
}
.anticon-cross-circle:before {
  content: "\E631";
}
/* Container used for styling the custom select, the buttom class below adds the
 * bg gradient, corners, etc. */
.custom-select {
	position: relative;
	display: block;
}

/* This is the native select, we're making everything but the text invisible so
 * we can see the button styles in the wrapper */
.custom-select select {
	width: 100%;
	margin: 0;
	outline: none;
	padding: .6em .8em .5em .8em;

	/* Prefixed box-sizing rules necessary for older browsers */
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/* Font size must be 16px to prevent iOS page zoom on focus */
	font-size: 16px;
}


/* Custom arrow sits on top of the select - could be an image, SVG, icon font,
 * etc. or the arrow could just baked into the bg image on the select. */
.custom-select::after {
	content: " ";
	position: absolute;
	top: 50%;
	right: 1em;
	z-index: 2;
	/* These hacks make the select behind the arrow clickable in some browsers */
	pointer-events: none;
	display: none;
}

@supports ( -webkit-appearance: none ) or ( appearance: none )
	/* Firefox <= 34 has a false positive on @supports( -moz-appearance: none )
	 * @supports ( mask-type: alpha ) is Firefox 35+
	 */
	or ( ( -moz-appearance: none ) and ( mask-type: alpha ) ) {
	
	/* Show custom arrow */
	.custom-select::after {
		display: block;
	}

	/* Remove select styling */
	.custom-select select {
		padding-right: 2em; /* Match-01 */
		/* inside @supports so that iOS <= 8 display the native arrow */
		background: none; /* Match-04 */
		/* inside @supports so that Android <= 4.3 display the native arrow */
		border: 1px solid transparent; /* Match-05 */

		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}
	.custom-select select:focus {
		border-color: #aaa; /* Match-03 */
	}
}
/*# sourceMappingURL=1.css.map*/